import QtQuick 2.2

Item{
    property var shell:"fish" 
    property var font_size:12
    property var font_family:"monacobsemi,Droid Sans Mono for Powerline,everson mono,WenQuanYi Micro Hei,setofont"   // "Lucida Gr" 
    property var color_scheme:"custom" //cool-retro-term

    property var display_ratio:1.2

    property var title_font:'setofont,WenQuanYi Micro Hei'
    property var focused_color:'#8ff'
    property var unfocused_color:'#eee'

    property var window_width:860
    property var window_height:440
    property var shadow_radius:5
    property var shadow_offset:1
    property var animation_duration:300

    property var frame_border: 1 //0.3

    property var shadow_spread:0.4
    property var title_shadow_spread:0.6

    property var maximized_state:'MAXIMIZED'
    property var background_color:'white' // 'transparent'
    property var background_opacitiy: 0.3 // 0
    property var border_shadow_active: 1
    property var border_shadow_deactive:5
    property var border_color_active:'white' //0 // 1 // 1
    property var border_color_deactive:'black'  //// 0 // 1 //5
    property var show_border_shadow:false
}

